.root {
  position: relative;
  z-index: 100;
  margin-top: 50px;
}

.container {
  display: flex;
  padding: 20px;
  position: relative;
  z-index: 100;
}

.info {
  margin-left: 30px;
}

.bgImage {
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}
